angelhack-mobile-flow.json
[{"id":"75626c74.8a9d94","type":"cspDatabase","tcp":"tcp://cloud-eu-0.clusterpoint.com","port":"9007","user":"","pass":"","db":"compress","account":"693","document":"document","documentId":"document/id","name":"clusterpoint/compress"},{"id":"da4ef2a0.25b11","type":"http in","name":"","url":"/challenges","method":"get","x":105.55554962158203,"y":132.55554962158203,"z":"f6c48b28.43282","wires":[["6072e1d6.9f8d2"]]},{"id":"6072e1d6.9f8d2","type":"function","name":"","func":"msg.payload = [{\"userId\":\"samsungS3\"},{\"type\": \"challenge\"}]  ;\nreturn msg;","outputs":1,"x":305.55554962158203,"y":89.55554962158203,"z":"f6c48b28.43282","wires":[["5f42a340.a0bd5c"]]},{"id":"d90b89a3.26f478","type":"http response","name":"","x":889.555549621582,"y":83.55554962158203,"z":"f6c48b28.43282","wires":[]},{"id":"5f42a340.a0bd5c","type":"clusterpoint","name":"","topic":"","request":"SERC","cspDatabase":"75626c74.8a9d94","x":420.55554962158203,"y":90.55554962158203,"z":"f6c48b28.43282","wires":[["4a6e184f.b591e8"]]},{"id":"361242e4.c9edbe","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1102.555549621582,"y":342.55554962158203,"z":"f6c48b28.43282","wires":[]},{"id":"41f10b9b.be0ef4","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110.55554962158203,"y":65.55554962158203,"z":"f6c48b28.43282","wires":[["6072e1d6.9f8d2"]]},{"id":"4a6e184f.b591e8","type":"function","name":"","func":"msg.payload = msg.payload[\"results\"][\"document\"]\n\n\nvar mymap = {};\nconsole.log(\"=================\")\nfor(var i in msg.payload){ \n    var obj = msg.payload[i];\n    var brlb;\n    if(obj['puzzleId']){\n        \n       brlb = obj['puzzleId'];\n    }else{\n       brlb = obj['id'];\n    }\n    if(brlb in mymap){\n        console.log(\"in map! DELETE\")\n        delete mymap[brlb];\n    }else{\n        console.log(\"not in map! ADD\")\n        mymap[brlb] = obj;\n    }\n    \n} \n\nmsg.payload = mymap;\n\n\nreturn msg;","outputs":1,"x":535.555549621582,"y":91.55554962158203,"z":"f6c48b28.43282","wires":[["d90b89a3.26f478","2a377154.d5c88e"]]},{"id":"21686ef3.de9792","type":"http in","name":"","url":"/rate","method":"post","x":80.55554962158203,"y":351.55554962158203,"z":"f6c48b28.43282","wires":[["361242e4.c9edbe","247cc519.db833a"]]},{"id":"df2a3f61.20d5c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96.55554962158203,"y":268.55554962158203,"z":"f6c48b28.43282","wires":[[]]},{"id":"dd2dcfb7.22d23","type":"clusterpoint","name":"","topic":"","request":"INS","cspDatabase":"75626c74.8a9d94","x":352.55554962158203,"y":414.55554962158203,"z":"f6c48b28.43282","wires":[["744995e8.8bb66c"]]},{"id":"744995e8.8bb66c","type":"function","name":"","func":"\nreturn msg;","outputs":1,"x":588.2222137451172,"y":416.22219467163086,"z":"f6c48b28.43282","wires":[["d90b89a3.26f478"]]},{"id":"2a377154.d5c88e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":895.555549621582,"y":123.55554962158203,"z":"f6c48b28.43282","wires":[]},{"id":"4da01004.b25ff","type":"http in","name":"","url":"/first","method":"get","x":101.55554962158203,"y":610.555549621582,"z":"f6c48b28.43282","wires":[["ff515deb.00aea"]]},{"id":"265d1192.d9a2ee","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127.55554962158203,"y":558.555549621582,"z":"f6c48b28.43282","wires":[["ff515deb.00aea"]]},{"id":"ff515deb.00aea","type":"function","name":"","func":"msg.payload = [{\"step\":1}]  ;\nreturn msg;","outputs":1,"x":288.55554962158203,"y":596.555549621582,"z":"f6c48b28.43282","wires":[["e55bbf4c.1aa44"]]},{"id":"e55bbf4c.1aa44","type":"clusterpoint","name":"","topic":"","request":"SERC","cspDatabase":"75626c74.8a9d94","x":454.55554962158203,"y":601.555549621582,"z":"f6c48b28.43282","wires":[["e0bdce88.1f423"]]},{"id":"b5576b26.4aa898","type":"debug","name":"","active":true,"console":"false","complete":"false","x":958.555549621582,"y":570.555549621582,"z":"f6c48b28.43282","wires":[]},{"id":"f47bbe7f.0b844","type":"http response","name":"","x":971.555549621582,"y":635.555549621582,"z":"f6c48b28.43282","wires":[]},{"id":"e0bdce88.1f423","type":"function","name":"","func":"\nmsg.payload = msg.payload['results']['document'];\nreturn msg;","outputs":1,"x":660.555549621582,"y":608.555549621582,"z":"f6c48b28.43282","wires":[["f47bbe7f.0b844","b5576b26.4aa898"]]},{"id":"8278a13d.7d876","type":"http in","name":"","url":"/nextof","method":"post","x":109.55554962158203,"y":781.555549621582,"z":"f6c48b28.43282","wires":[["1cdd47ea.e322b8"]]},{"id":"1d64e686.e29b19","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.55554962158203,"y":732.555549621582,"z":"f6c48b28.43282","wires":[["1cdd47ea.e322b8"]]},{"id":"1cdd47ea.e322b8","type":"function","name":"","func":"console.log(\"============\")\nconsole.log(msg.payload);\nmsg.group = msg.payload['puzzleId'];\nmsg.payload = [{\"step\":msg.payload['step']+1}]  ;\n\nreturn msg;","outputs":1,"x":307.55554962158203,"y":748.555549621582,"z":"f6c48b28.43282","wires":[["dd0ca104.22f36"]]},{"id":"dd0ca104.22f36","type":"clusterpoint","name":"","topic":"","request":"SERC","cspDatabase":"75626c74.8a9d94","x":479.55554962158203,"y":777.555549621582,"z":"f6c48b28.43282","wires":[["4b187335.b4e78c","11206b91.eedf94"]]},{"id":"4b187335.b4e78c","type":"function","name":"","func":" \nmsg.payload = msg.payload['results']['document'];\n\nfor(var i in msg.payload){\nconsole.log(msg.payload[i].group + \"  \" + msg.group);\n\tif(msg.payload[i].group == msg.group){\n\t\tmsg.payload = msg.payload[i];\n\t\treturn msg;\n\t}\n} ","outputs":1,"x":690.3055534362793,"y":823.5555534362793,"z":"f6c48b28.43282","wires":[["11206b91.eedf94","3069ef76.cf961"]]},{"id":"11206b91.eedf94","type":"debug","name":"","active":true,"console":"false","complete":"false","x":922.555549621582,"y":718.555549621582,"z":"f6c48b28.43282","wires":[]},{"id":"3069ef76.cf961","type":"http response","name":"","x":935.555549621582,"y":783.555549621582,"z":"f6c48b28.43282","wires":[]},{"id":"247cc519.db833a","type":"function","name":"","func":"console.log(msg);\nreturn msg;","outputs":1,"x":164.99999618530273,"y":430.0000057220459,"z":"f6c48b28.43282","wires":[["dd2dcfb7.22d23"]]}]
